<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Please Log In</title>
	</head>
	<body>
		<div>
<form th:action="@{/login}" method="post">
	<div th:if="${param.error}" class="alert alert-error">
		Invalid username and password.
	</div>
	<div th:if="${param.logout}" class="alert alert-success">
		You have been logged out.
	</div>
	<p>
		<label for="username">Username</label>
		<input type="text"
			id="username" name="username" />
	</p>
	<p>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" />
	</p>
	<div class="form-actions">
		<button type="submit" class="btn">Log in</button>
	</div>
</form>
		</div>
	</body>
</html>