<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Please Log In</title>
	</head>
	<body>
		<div>
<form th:action="@{/login}" method="post">
	<div th:if="${param.error}">
		Invalid username and password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
		<!-- FIXME correct the request -->
		<label for="username">Username</label>
		<input type="text"
			id="username" name="un" />
		<label for="password">Password</label>
		<input type="password" id="pwd" name="password" />
	<div>
		<button type="submit">Log in</button>
	</div>
</form>
		</div>
	</body>
</html>